@page "/"
@using BestETFsByTD.Models
@using BestETFsByTD.Components
@using Microsoft.Extensions.Localization
@using BestETFsByTD.Resources

@inject IStringLocalizer<AppStrings> localizer

<h2>@localizer["SelectETFCategory"]</h2>

<select @bind="SelectedCategory">
    <option value="">-- @localizer["Select"] --</option>

    @foreach (var cat in Enum.GetValues<EtfCategory>())
    {
        <option value="@cat">@cat.GetLocalizedName(localizer)</option>
    }
</select>

@if (SelectedCategory.HasValue)
{
    <br/><br/>
    <EtfTable Category="@SelectedCategory.Value" />
}

@code {
    EtfCategory? SelectedCategory = null;
}
